/*
Colors used:
Primary Color (Blue): #0013B6;
Secondary Color (Green): #489c79;
*/
* {
    box-sizing: border-box;
  }
  
body {
    background-color: whitesmoke;
}
body {
    font-family:'Fira Sans', sans-serif;
}
body {
    background-color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 1.75em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.5em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.25em;
    font-weight: 400;
  }
  img{
    width: 100%;
  }
  a {
    color: #4a4a4a;
    text-decoration: none; /* No underlining */
  }
  a:hover, a:focus {
    color: #cc6540;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:visited { /* visited link */
    color: #4a4a4a;
  }
  a:active { /* selected link */
    color: #994c30;
  }
  .button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #0013B6;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  .button:active {
    background-color: darkblue;
    color: white
  }
  .button.contact {
    background-color: transparent;
    color: #0013B6;
    text-transform: uppercase;
    border: 2px solid #0013B6;
  }
  .button.contact:hover {
    background-color: #0013B6;
    color: #ffffff;
  }
  .button.contact:active {
    background-color: darkblue;
    color: white
  }
  .button.cv {
    background-color: #0013B6;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #0013B6;
  }
  header {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  /* Layout styling */
  .container {
    padding: 0 15px;
  }
  #hero h1{
    text-align: center; /* Centers text */
  }
  .logo {
    max-width: 250px;
    display: inline-block;
}
.row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }



@media screen and (min-width: 640px) {
  .col-md-6 {
    float: left;
    width: 50%;
    padding: 0 10px;
    text-align: unset;
    padding: 20px 0 13px 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

nav > ul > li {
  display: inline-block;
  padding: 10px 10px;
  width: auto;
  }

nav > ul {
  list-style: none;
}
#hero h1 {
    margin: 0;
    padding: 0.67em 0;
  }
  #hero {
    background-color: #ffe4c4;
    border: 10px;
    padding-bottom: 10px;
  }
  #work h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }